<p id="who">
  <strong>Who:</strong>
  The course is for people working in library- and information-related roles.
  <strong>
    You don't need to have any previous knowledge of the tools that
    will be presented at the workshop.
  </strong>
</p>
<p id="Registration">
  <strong>Registration:</strong>
  Kindly follow the links to register <a href="https://southernct.libcal.com/event/14827969">Day 1: DMP & Tidy Data</a> , <a href="https://southernct.libcal.com/event/14827976">Day 2: OpenRefine</a> , <a href="https://southernct.libcal.com/event/14827990">Day 3: Introduction to AI for GLAM</a>
</p>
